[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
